{% extends "base_sidebar.html" %}
{% load filters %}
{% load markup %}
{% load core_tags %}
{% load core_filters %}
{% load thumbnail %}
{% load mptt_tags %}

{% block content %}
<ul class="media-list">
    <li class="media">
      <div class="media-body">
        <h3 class="media-heading">
          {% if request.GET.q %}
          <a href="{{ article.get_absolute_url }}">{{ article.title|highlight:request.GET.q|safe }}</a>
          {% else %}
          <a href="{{ article.get_absolute_url }}">{{ article }}</a>
          {% endif %}
        </h3>
        {% if request.GET.q %}
        {{ article.body|textile|highlight:request.GET.q|safe }}
        {% else %}
        {{ article.body|textile }}
        {% endif %}
      </div>

      <div class="media attribution">
        <a href="{{ article.created_by.profile.get_absolute_url }}" class="pull-left">
          {% thumbnail article.created_by.profile.photo "80x80" crop="center" as im %}
          <img class="img-circle"  src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% empty %}
          <img class="img-circle" src="http://placehold.it/80x80" alt="">
          {% endthumbnail %}
        </a>
                        
        <div class="media-body">
            <a href="{{ article.created_by.profile.get_absolute_url }}">{{ article.created_by }}</a>
            <br>
            <span class="muted"><small>{{ article.date_created }} (<a href="{{ article.get_perma_url }}">permalänk</a>)</small></span>
            <br>
            {% for tag in article.user_tags.all %}
            <span class="dropup">
              <a class="dropdown-toggle btn btn-mini {% if tag.name in request.GET.tags %}active{% endif %}" data-toggle="dropdown" href="#">
                {% if tag in user_categories %}
                <i class="icon-eye-open"></i> 
                {% endif %}
                {{ tag|lower }}
              </a>
              <ul class="dropdown-menu">
                {% if tag in user_categories %}
                <li class="divider"></li>
                <li>
                  <form class="form-inline" action="{% url 'subscribe_tag' request.user.id %}" method="POST">
                    {% csrf_token %}
                    <formset class="hidden">
                    <input id="id_name" maxlength="255" name="name" type="text" value="{{ tag.name }}">
                    </formset>
                    <button type="submit" class="btn">
                      <i class="icon-eye-close"></i> Avbevaka '{{ tag }}'
                    </button>
                  </form>
                </li>
                {% else %}
                <li>
                   <form class="form-inline" action="{% url 'subscribe_tag' request.user.id %}" method="POST">
                    {% csrf_token %}
                    <formset class="hidden">
                    <input id="id_name" maxlength="255" name="name" type="text" value="{{ tag.name }}">
                    </formset>
                    <button type="submit" class="btn">
                      <i class="icon-eye-open"></i> Bevaka '{{ tag }}'
                    </button>
                  </form>
                </li>
                {% endif %}
              </ul>
            </span>
            {% endfor %}

            {% for group in request.user.groups.all %}
            {% ifequal 'mod' group.name %}
            {% for tag in article.mod_tags.all %}
            <span class="dropup">
              <a class="dropdown-toggle btn btn-mini btn-inverse" data-toggle="dropdown" href="#">
                {{ tag|lower }}
              </a>
              <ul class="dropdown-menu">
               <li><a href="#">Admin</a></li>
              </ul>
            </span>
            {% endfor %}
            {% endifequal %}
            {% endfor %}
        </div><!--  /media body -->
      </div><!-- /media attribution -->
    </li><!-- /media -->

  <hr>

  {% with comments=article.comments.all %}
  {% recursetree comments %}

    {% if node.is_root_node %}
    <li class="media">
    {% else %}
    <div class="media">
    {% endif %}
      <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64">
      </a>

      <div class="media-body">
        <h4 class="media-heading">{{ node.created_by }} <small class="muted">| {{ node.added }} </small></h4>

        {{ node.comment }}

        {% if children %}
        {{ children }}
        {% endif %}
      </div>

    {% if node.is_root_node %}
    </li>
    {% else %}
    </div>
    {% endif %}
  
  {% endrecursetree %}
  {% endwith %}
</ul>
{% endblock content %}