{% extends "registration_base.html" %}
{% load bootstrap_tags %}

{% block top_navigation %}
    <li><a href="{% url 'login_view' %}">Logga in</a></li>
    <li><a href="{% url 'register_view' %}">Registrera</a></li>
    <li><a href="{% url 'about_view' %}">Om oss</a></li>
{% endblock top_navigation %}

{% block page_title %}Lösenordsåterställning{% endblock page_title %}

{% block content %}
<form class="form-vertical" action="{% url 'reset_password' %}?next={{ nextpage }}" method="POST">
    <legend>Återställ ditt lösenord med din epost</legend>
    <p>Glömt ditt lösenord? Fyll i din e-postadress nedan så skickar vi ett e-postmeddelande med instruktioner för hur du ställer in ett nytt.</p>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">OK</button>
    </div>
</form>
{% endblock content %}
