{% extends "registration_base.html" %}
{% load bootstrap_tags %}

{% block top_navigation %}
    <li><a href="{% url 'login_view' %}">Logga in</a></li>
    <li><a href="{% url 'register_view' %}">Registrera</a></li>
    <li><a href="{% url 'about_view' %}">Om oss</a></li>
{% endblock top_navigation %}

{% block page_title %}Lösenordsåterställning{% endblock page_title %}

{% block content %}
<h2>Lyckades!</h2>
<p>Vi har skickat ett e-postmeddelande med instruktioner för att ändra ditt lösenord till den e-postaddress du angivit. Det bör anlända inom kort.</p>
{% endblock content %}
